@using MVC_CV.Models.Entity
@model List<TblSosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Social Media Account List</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-info" data-toggle="modal" data-target="#Modal1">Add New Social Media</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th style="width: 40px">Social Media</th>
                                            <th style="width: 40px">Durum</th>
                                            <th style="width: 40px">Delete</th>
                                            <th style="width: 40px">Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Ad</td>
                                                <td>@item.Durum</td>
                                                <td>
                                                    <a href="/SosyalMedya/Sil/@item.ID " class="btn btn-danger btn-sm">Delete</a>
                                                </td>
                                                <td>
                                                    <a href="/SosyalMedya/SayfaGetir/@item.ID " class="btn btn-warning btn-sm">Update</a>
                                                </td>
                                            </tr>

                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Add Social Media Account Page</h2>
                    </div>
                    <form method="post" action="/SosyalMedya/Ekle">
                        <div class="modal-body">
                            <label>Social Media Name</label>
                            <input type="text" name="Ad" class="form-control"/>
                            <br />
                            <label>Social Media Link</label>
                            <input type="text" name="Link" class="form-control"/>
                            <br />
                            <label>Social Media Name</label>
                            <input type="text" name="ikon" class="form-control"/>
                            <br />
                            <button class="btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

