@using MVC_CV.Models.Entity
@model List<TblHobilerim>


<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    <ul>
        @foreach (var x in Model)
        {
            if (!string.IsNullOrWhiteSpace(x.Aciklama1))
            {
                <li>@x.Aciklama1.TrimStart('-', ' ')</li>
            }
            if (!string.IsNullOrWhiteSpace(x.Aciklama2))
            {
                foreach (var item in x.Aciklama2.Split(new[] { "\r\n", "\n" }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <li>@item.TrimStart('-', ' ')</li>
                }
            }
        }
    </ul>


</div>
