@model MVC_CV.Models.Entity.TblSertifikalarim
@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Certification Editing Page</h4>
<br />
<form method="post">

    @Html.Label("Certification Description")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Update</button>
     
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger"> Sil</a>


</form>


